.hero-section {
  min-height: 100vh;
  position: relative;
}

.hero-video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2;
}

.hero-text {
  position: absolute;
  text-align: center;
  padding: 1rem;
  color: white;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.639);
  letter-spacing: 2px;
}

.hero-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.56);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 3rem;
}

.hero img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.big-btn {
  font-size: clamp(20px, 3vw, 3rem);
}

.home {
  color: white;
  padding-top: 0 !important;
}

.cta {
  display: inline;
  width: fit-content;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  background: var(--light-blue);
  color: var(--main-bg-color);
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid var(--main-bg-color);
}

.cta span {
  padding: 0.5rem;
  position: relative;
  transition: 400ms;
}

/* .cta span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 45%;
  transform: translateY(-50%);
  right: -20px;
  transition: all 500ms ease-in-out;
} */

/* .cta:hover span {
  padding-right: 1rem;
}

.cta:hover span::after {
  opacity: 1;
  right: 0.3rem;
} */

.presentation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.7;
  width: 90%;
  margin: 0 auto;
  color: var(--main-bg-color);
  margin-bottom: 2rem !important;
}

.home-presentation-first > p,
button,
.home-presentation-second > p,
button,
.home-presentation-third > p,
button {
  margin-bottom: 1rem;
}

.home-presentation-third {
  padding-bottom: 2rem;
}

.small-img {
  width: 100%;
  margin: 1rem 0;
}

@media screen and (max-width: 426px) {
  .hero-content {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 426px) {
  .presentation p {
    font-size: 2.5vw;
  }
  .hero h1 {
    /* font-size: 5vw; */
  }
  .hero h2 {
    font-size: clamp(24px, 7vw, 4rem);
  }
  .presentation h3 {
    font-size: clamp(20px, 5vw, 3.5rem);
  }
  .presentation .small-btn {
    font-size: 3vw;
  }
}
