{% extends 'base.html.twig' %} {% block extra_stylesheets %}
<link rel="stylesheet" href="css/localisation.css" />
{% endblock %} {% block title %}Localisation{% endblock %} {% block body %}

<main>
  <div class="container-localisation">
    <h1>Découvrez les magnifiques paysages de l'Hérault et du Gard</h1>

    <p>
      Venez vivre une expérience nautique unique et découvrir les paysages
      spectaculaires de l'Hérault et du Gard avec Camargue Nautisme ! Que vous
      soyez débutant ou confirmé, nos locations de kayak et de paddle sont le
      moyen idéal pour explorer les rivières, les canaux et les côtes de cette
      région magnifique. Partez à la découverte des criques sauvages, des îles
      et des falaises qui bordent la Méditerranée, ou bien naviguez sur les eaux
      cristallines du Gardon et admirez les villages perchés et les ruines
      romaines qui bordent ses rives. Réservez dès maintenant votre location de
      kayak ou de paddle et partez à l'aventure dans l'Hérault et le Gard !
    </p>
  </div>
</main>

{% endblock %}
