{% extends 'base.html.twig' %} {% block extra_stylesheets %}
<link rel="stylesheet" href="css/localisation.css" />
{% endblock %} {% block title %}Localisation{% endblock %} {% block body %}

<main>
  <div class="container-localisation">
    <h1>
      Découvrez les magnifiques paysages de <a href="#carnon">l'Hérault</a> et
      du
      <a href="#palavas">Gard</a>
    </h1>

    <p>
      Venez vivre une expérience nautique unique et découvrir les paysages
      spectaculaires de l'Hérault et du Gard avec Camargue Nautisme ! Que vous
      soyez débutant ou confirmé, nos locations de kayak et de paddle sont le
      moyen idéal pour explorer les rivières, les canaux et les côtes de cette
      région magnifique. Partez à la découverte des criques sauvages, des îles
      et des falaises qui bordent la Méditerranée, ou bien naviguez sur les eaux
      cristallines du Gardon et admirez les villages perchés et les ruines
      romaines qui bordent ses rives. Réservez dès maintenant votre location de
      kayak ou de paddle et partez à l'aventure dans l'Hérault et le Gard !
    </p>
  </div>

  <div class="contain-localisation">
    <h2 id="carnon">CARNON</h2>

    <img src="{{ asset('images/carnon.jpeg') }}" alt="Image de Carnon" />

    <div class="localisation">
      <p>Carnon: à côté de la Plagette paillote</p>
      <p>Accès parking Grand Travers</p>
      <p>04 67 10 20 30</p>
      <p>Ouvert tous les jours de mai à septembre</p>
    </div>

    <p>
      Venez découvrir l'Hérault d'une manière unique et originale avec Camargue
      Nautisme ! Notre base est située à proximité de nombreuses plages de la
      Méditerranée, et nous proposons des locations de kayak et de paddle pour
      explorer les criques sauvages, les îles et les falaises qui bordent la
      côte.
    </p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4903.5213956036605!2d4.025195765288343!3d43.55667608825187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDMzJzIxLjUiTiA0wrAwMSc0Ni41IkU!5e0!3m2!1sfr!2sfr!4v1683269616720!5m2!1sfr!2sfr"
      width="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="contain-localisation">
    <h2 id="palavas">PALAVAS-LES-FLOTS</h2>

    <img
      src="{{ asset('images/palavas.jpg') }}"
      alt="Image de Palavas-les-flots"
    />

    <div class="localisation">
      <p>Palavas-les-Flots: rive droite</p>
      <p>Maison de la Mer, accès parking</p>
      <p>04 34 40 50 60</p>
      <p>Ouvert tous les jours de mai à septembre</p>
    </div>

    <p>
      Avec Camargue Nautisme, venez découvrir les Gorges du Gardon d'une manière
      unique et inoubliable ! Notre base est située à proximité de cette région
      spectaculaire, explorer les eaux cristallines et les paysages grandioses
      des gorges. Vous pourrez admirer les villages perchés, les ruines romaines
      et les falaises qui bordent les rives du Gardon.
    </p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2892.9102165626914!2d3.925335674809241!3d43.52506496071096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDMxJzMwLjIiTiAzwrA1NSc0MC41IkU!5e0!3m2!1sfr!2sfr!4v1683269770339!5m2!1sfr!2sfr"
      width="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>

{% endblock %}
