{% block extra_javascripts %}
<script defer src="scripts/headerFooter.js"></script> {% endblock %}


<footer>


  <section class="pictoReseaux">
    <div class="picto">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-tiktok"></i>
    </div>


  </section>
  <section class="newsletter">
    <div id="letter">

      <p> <i class="fa-regular fa-envelope"></i> Nos actualité en Newsletter </p>
      <form action="" method="POST">
        <input type="text" placeholder="email@example.com">
        <button type="submit">S'inscrire</button>
      </form>
    </div>
  </section>

  <section class="contact">
    <div class="cartouche">
      <div class="entreprise">
        <h3>Qui sommes nous:</h3>
        <p>Camargue Nautisme, ghgqf ghhjff ehfjfgez aztetyza aztrtyzd ztyf fefzrty zty t e fzty ygygegezygfg gezygdez g.
        </p>
      </div>
      <div class="lateam">
        <h3>La Team</h3>
        <img src="{{asset('images/team1.jpg')}}" alt="team">
      </div>
    </div>
  </section>
  <section class="copyRight"></section>
  <div class="copy">
    <p>by Web Agence. &copy;{{ "now"|date("Y") }} All Rights Reserved</p>
  </div>
  </section>
</footer>