
{% extends "base.html.twig" %}
{# {% block title %}CGU{% endblock %}
{% block description %}Conditions générales d'utilisation / Conditions générales de ventes {% endblock %} #}



{% block body %}
<div style=background-color:aqua;>
<h1>Conditions générales d'utilisation / Conditions générales de ventes</h1>
<p>Bear claw gummies candy canes cupcake tootsie roll jujubes dragée. Cheesecake bonbon chocolate bar croissant donut.
    Pastry gingerbread chocolate liquorice jelly beans lollipop marshmallow. Icing macaroon cake marzipan chocolate.
    Danish icing tart cupcake toffee marzipan shortbread cheesecake chocolate. Gingerbread jelly candy canes cupcake
    soufflé candy canes chocolate bar. Wafer cheesecake dessert cotton candy donut. Powder carrot cake bear claw
    croissant toffee gummi bears oat cake. Jelly beans bear claw icing wafer donut. Topping chocolate tart toffee wafer
    candy tiramisu carrot cake. Tiramisu cotton candy sugar plum wafer sweet muffin ice cream pastry cheesecake. Danish
    tiramisu cheesecake cheesecake lollipop oat cake toffee. Ice cream liquorice cheesecake sweet roll donut pie
    gingerbread. Liquorice icing pastry croissant cupcake croissant brownie.Bear claw gummies candy canes cupcake
    tootsie roll jujubes dragée. Cheesecake bonbon chocolate bar croissant donut. Pastry gingerbread chocolate liquorice
    jelly beans lollipop marshmallow. Icing macaroon cake marzipan chocolate. Danish icing tart cupcake toffee marzipan
    shortbread cheesecake chocolate. Gingerbread jelly candy canes cupcake soufflé candy canes chocolate bar. Wafer
    cheesecake dessert cotton candy donut. Powder carrot cake bear claw croissant toffee gummi bears oat cake. Jelly
    beans bear claw icing wafer donut. Topping chocolate tart toffee wafer candy tiramisu carrot cake. Tiramisu cotton
    candy sugar plum wafer sweet muffin ice cream pastry cheesecake.</p>
</div>
{% endblock %}
